<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajout d'une longueur</title>
</head>

<body>

<h1>Modification d'une voie</h1>

<br><br>
<span th:text="${site.getNom()}"/>
<span th:text="${secteur.getNom()}"/>
<span th:text="${voie.getNom()}"/>
<br><br>
<form id="CreationSecteur" method="post" th:action="@{/modifSite/{idSite}/modifSecteur/{idSecteur}/modifVoie/{idVoie}(idSite=${site.getId()}, idSecteur=${secteur.getId()}, idVoie=${voie.getId()})}">
    <div>
        <span>Nom de la longueur :</span> <input name="nomLongueur" type="text" th:size="50"><br><br>
        <span>Cotation :</span> <input name="cotation" type="text" th:size="10"><br><br>
        <button type="submit" name="AjouterLongueur" value="AjouterLongueur">Ajouter longueur</button>
    </div>
</form>

<br><br>
<div th:if="${longueurs}">
    <table th:axis="1">
        <tr>
            <td th:text="longueurs" th:align="left">Longueurs</td>
            <td th:text="cotation" th:align="left">Cotation</td>
        </tr>
        <tr th:each="longueur: ${longueurs}">
            <td th:text="${longueur.getNom()}">Longueur</td>
            <td th:text="${longueur.getCotation()}">Cotation</td>
        </tr>
    </table>

</div>
<br><br>
<a th:href="@{/modifSite/{idSite}/modifSecteur/{idSecteur}(idSite=${site.getId()}, idSecteur=${secteur.getId()})}">Retour au secteur</a>
<br><br>
<a th:href="@{/modifSite/{idSite}/newSecteur(idSite=${site.getId()})}">Retour à la liste des secteurs</a>
<br><br>
<a th:href="@{/modifSite(id=${site.getId()})}">Retour au site</a>

</body>
<footer>
    <a th:href="@{/}">Accueil</a>
</footer>
</html>