<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modification d'une longueur</title>
</head>

<body>

<h1>Modification d'une longueur</h1>

<br><br>
<div th:if="${longueur != null && suppression == false}">
    <span th:text="${site.getNom()}"/>
    <span th:text="${secteur.getNom()}"/>
    <span th:text="${voie.getNom()}"/>
    <span th:text="${longueur.getNom()}"/>
    <br><br>
</div>
<br><br>

<div th:if="${longueur}">
    <br>
    <form id="MajLongueur" method="post" th:action="@{/modifSite/{idSite}/modifSecteur/{idSecteur}/modifVoie/{idVoie}/modifLongueur/{idLongueur}(idSite=${site.getId()}, idSecteur=${secteur.getId()}, idVoie=${voie.getId()}, idLongueur=${longueur.getId()})}">
        <div>
            <span>Nom de la longueur :</span> <input name="nomLongueur" type="text" th:value="${longueur.getNom()}" th:size="50"><br><br>
            <span>Cotation :</span> <input name="cotation" type="text" th:value="${longueur.getCotation()}" th:size="10"><br><br>
            <button type="submit" name="MajLongueur" value="MajLongueur">Mettre à jour</button>
        </div>
    </form>

    <br><br>

    <form class="button" th:action="@{/modifSite/{idSite}/modifSecteur/{idSecteur}/modifVoie/{idVoie}/modifLongueur/{idLongueur}/suppression(idSite=${site.getId()}, idSecteur=${secteur.getId()}, idVoie=${voie.getId()}, idLongueur=${longueur.getId()})}">
        <input type="submit" value="Supprimer la longueur"/>
    </form>
    <br><br><br><br>
</div>
<div th:if="${suppression} == true">
    <span><h2>LA LONGUEUR A ETE SUPPRIME</h2></span>
    <br><br><br><br>
</div>

<a th:href="@{/modifSite/{idSite}/modifSecteur/{idSecteur}/modifVoie/{idVoie}(idSite=${site.getId()}, idSecteur=${secteur.getId()}, idVoie=${voie.getId()})}">Retour à la voie</a>
<br><br>
<a th:href="@{/modifSite/{idSite}/modifSecteur/{idSecteur}(idSite=${site.getId()}, idSecteur=${secteur.getId()})}">Retour au secteur</a>
<br><br>
<a th:href="@{/modifSite(id=${site.getId()})}">Retour au site</a>

</body>
<footer>
    <a th:href="@{/}">Accueil</a>
</footer>
</html>