<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <title>Modification d'une longueur</title>
</head>

<body>

<header class="page-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <div sec:authorize="!isAuthenticated()">
                    <li class="nav-item active">
                        <a class="nav-link" href="/login">S'authentifier<span class="sr-only">(current)</span></a>
                    </li>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item active">
                        <a class="nav-link" href="/logout">Log out <span class="sr-only">(current)</span></a>
                    </li>
                </div>
                <div sec:authorize="hasAnyAuthority('Membre', 'Administrateur')">
                    <li class="nav-item active">
                        <a class="nav-link" href="/modifSite">Ajouter un site<span class="sr-only">(current)</span></a>
                    </li>
                </div>
            </ul>
            <div sec:authorize="isAuthenticated()">
                    <span class="navbar-text">
                        <a class="nav-link" href="/compte" th:text="${#authentication.getName()}"><span class="sr-only">(current)</span></a>
                    </span>
            </div>
        </nav>
    </div>
    <div class="container">
        <h1>Modification d'une longueur</h1>
    </div>
</header>

<br><br>

<div th:if="${longueur != null && suppression == false}">
    <div class="container">
        <h2>
            <span th:text="${site.getNom()}"/>
            <span> / </span>
            <span th:text="${secteur.getNom()}"/>
            <span> / </span>
            <span th:text="${voie.getNom()}"/>
            <span> / </span>
            <span th:text="${longueur.getNom()}"/>
        </h2>
    </div>
    <br><br>
</div>
<br><br>

<div th:if="${longueur}">
    <div class="container">
        <span><h3>Informations sur la longueur : </h3></span><br>
        <form id="MajLongueur" method="post"
              th:action="@{/modifSite/{idSite}/modifSecteur/{idSecteur}/modifVoie/{idVoie}/modifLongueur/{idLongueur}(idSite=${site.getId()}, idSecteur=${secteur.getId()}, idVoie=${voie.getId()}, idLongueur=${longueur.getId()})}">

            <dl>
                <dt>Nom</dt>
                <dd>
                    <input class="col-6" name="nomLongueur" th:value="${longueur.getNom()}" type="text">
                </dd>
                <dt>Cotation</dt>
                <dd>
                    <input class="col-3" name="cotation" th:value="${longueur.getCotation()}" type="text">
                </dd>
            </dl>

            <button class="btn btn-outline-secondary" name="MajLongueur" type="submit" value="MajLongueur">Mettre à jour</button>
        </form>
    </div>
    <br><br><br><br>

    <div class="container">
        <form class="button"
              th:action="@{/modifSite/{idSite}/modifSecteur/{idSecteur}/modifVoie/{idVoie}/modifLongueur/{idLongueur}/suppression(idSite=${site.getId()}, idSecteur=${secteur.getId()}, idVoie=${voie.getId()}, idLongueur=${longueur.getId()})}">
            <input class="btn btn-outline-danger" type="submit" value="Supprimer la longueur"/>
        </form>
    </div>
    <br><br><br><br>
</div>

<div th:if="${suppression} == true">
    <div class="container">
        <span><h2>LA LONGUEUR A ETE SUPPRIME</h2></span>
    </div>
    <br><br><br><br>
</div>

<div class="container">
    <a th:href="@{/modifSite/{idSite}/modifSecteur/{idSecteur}/modifVoie/{idVoie}(idSite=${site.getId()}, idSecteur=${secteur.getId()}, idVoie=${voie.getId()})}">Retour
        à la voie</a>
    <br><br>
    <a th:href="@{/modifSite/{idSite}/modifSecteur/{idSecteur}(idSite=${site.getId()}, idSecteur=${secteur.getId()})}">Retour
        au secteur</a>
    <br><br>
    <a th:href="@{/modifSite/{idSite}(idSite=${site.getId()})}">Retour au site</a>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>