<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajout d'une voie</title>
</head>

<body>

<h1>Modification du secteur</h1>

<br><br>

<div th:if="${secteur != null && suppression == false}">
    <form id="MajSecteur" method="post" th:action="@{/modifSite/{idSite}/modifSecteur/{idSecteur}/update(idSite=${site.getId()}, idSecteur=${secteur.getId()})}">
    <h2>
    <span th:text="${site.getNom()}"/>
    <span> / </span>
    <span></span> <input name="nomSecteur" type="text" th:value="${secteur.getNom()}" th:size="50"><br>
    <button type="submit" name="MajSecteur" value="MajSecteur">Mettre à jour</button>
    </h2>
    </form>
    <br><br>
</div>

<div th:if="${voies != null && !voies.isEmpty()}">
    <span>VOIES : </span><br>
    <table th:axis="1">
        <tr>
            <td th:text="voies" th:align="left">Voies</td>
            <td th:text="Cotation" th:align="left">Cotation</td>
            <td th:text="Equipée" th:align="left">Equipée ?</td>
        </tr>
        <tr th:each="voie: ${voies}">
            <td><span><a th:href="@{/modifSite/{idSite}/modifSecteur/{idSecteur}/modifVoie/{idVoie}(idSite=${site.getId()},idSecteur=${secteur.getId()},idVoie=${voie.getId()})}" th:text="${voie.getNom()}"></a> </span></td>
            <td th:text="${voie.getCotation()}">Cotation</td>
            <td th:text="${voie.isEquipee()}">IsEsquipee</td>
        </tr>
    </table>
<br><br>
</div>

<div th:if="${secteur != null && suppression == false}">
    <span>Ajouter une voie : </span><br>
    <form id="CreationVoie" method="post" th:action="@{/modifSite/{idSite}/modifSecteur/{idSecteur}(idSite=${site.getId()},idSecteur=${secteur.getId()})}">
        <div>
            <span>Nom de la voie :</span> <input name="nomVoie" type="text" th:size="50"><br>
            <span>Cotation :</span> <input name="cotation" type="text" th:size="10"><br>
            <div class="form-group blu-margin">
                <select class="form-control" id="dropEquipee" name="voieEquipee">
                    <option th:value="neutre" th:text="Equipee">Equipee ?</option>
                    <option th:value="true" th:text="Oui"></option>
                    <option th:value="false" th:text="Non"></option>
                </select>
            </div>
            <button type="submit" name="AjouterVoie" value="AjouterVoie">Ajouter voie</button>
        </div>
    </form>
</div>

<br><br>
<div th:if="${secteur}">
    <br>
    <form class="button" th:action="@{/modifSite/{idSite}/modifSecteur/{idSecteur}/suppression(idSite=${site.getId()}, idSecteur=${secteur.getId()})}">
        <input type="submit" value="Supprimer le secteur"/>
    </form>
    <br><br><br><br>
</div>
<div th:if="${suppression} == true">
    <span><h2>LE SECTEUR A ETE SUPPRIME</h2></span>
    <br><br><br><br>
</div>


<a th:href="@{/modifSite/{idSite}(idSite=${site.getId()})}">Retour au site</a>

</body>
<footer>
    <a th:href="@{/}">Accueil</a>
</footer>
</html>