<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Ajout d'une longueur</title>
</head>

<body>

<h1>Modification d'une voie</h1>

<br><br>
<div th:if="${voie != null && suppression == false}">
    <h2>
    <span th:text="${site.getNom()}"/>
    <span> / </span>
    <span th:text="${secteur.getNom()}"/>
    <span> / </span>
    <span th:text="${voie.getNom()}"/>
    </h2>
    <br><br><br>
    <span>Informations sur la voie : </span>
    <form id="MajVoie" method="post" th:action="@{/modifSite/{idSite}/modifSecteur/{idSecteur}/modifVoie/{idVoie}/update(idSite=${site.getId()}, idSecteur=${secteur.getId()}, idVoie=${voie.getId()})}">
        <div>
            <span>Nom de la voie :</span> <input name="nomVoie" type="text" th:value="${voie.getNom()}" th:size="50"><br>
            <span>Cotation :</span> <input name="cotationVoie" type="text" th:value="${voie.getCotation()}" th:size="10"><br>
            <div class="form-group blu-margin">
                <span th:text="Equipee">Equipée ?</span>
                <select class="form-control" id="dropEquipee" name="voieEquipee">
                    <option th:value="${voie.isEquipee()}" th:text="${voie.isEquipee()}">Equipee ?</option>
                    <option th:value="true" th:text="Oui"></option>
                    <option th:value="false" th:text="Non"></option>
                </select>
            </div>
            <button type="submit" name="MajVoie" value="MajVoie">Mettre à jour</button>
        </div>
    </form>

    <br><br>
    <div th:if="!${longueurs.isEmpty()}">
        <table th:axis="1">
            <tr>
                <td th:align="left" th:text="longueurs">Longueurs</td>
                <td th:align="left" th:text="cotation">Cotation</td>
            </tr>
            <tr th:each="longueur: ${longueurs}">
                <td><span><a
                        th:href="@{/modifSite/{idSite}/modifSecteur/{idSecteur}/modifVoie/{idVoie}/modifLongueur/{idLongueur}(idSite=${site.getId()},idSecteur=${secteur.getId()},idVoie=${voie.getId()}, idLongueur=${longueur.getId()})}"
                        th:text="${longueur.getNom()}"></a> </span></td>
                <td th:text="${longueur.getCotation()}">Cotation</td>
            </tr>
        </table>
    </div>

    <br><br>
    <span>Ajout d'une longueur : </span>
    <form id="CreationSecteur" method="post"
          th:action="@{/modifSite/{idSite}/modifSecteur/{idSecteur}/modifVoie/{idVoie}(idSite=${site.getId()}, idSecteur=${secteur.getId()}, idVoie=${voie.getId()})}">
        <div>
            <span>Nom de la longueur :</span> <input name="nomLongueur" th:size="50" type="text"><br>
            <span>Cotation :</span> <input name="cotation" th:size="10" type="text"><br>
            <button name="AjouterLongueur" type="submit" value="AjouterLongueur">Ajouter longueur</button>
        </div>
    </form>
</div>
<br><br>

<div th:if="${voie}">
    <br>
    <form class="button"
          th:action="@{/modifSite/{idSite}/modifSecteur/{idSecteur}/modifVoie/{idVoie}/suppression(idSite=${site.getId()}, idSecteur=${secteur.getId()}, idVoie=${voie.getId()})}">
        <input type="submit" value="Supprimer la voie"/>
    </form>
    <br><br><br><br>
</div>
<div th:if="${suppression} == true">
    <span><h2>LA VOIE A ETE SUPPRIME</h2></span>
    <br><br><br><br>
</div>

<a th:href="@{/modifSite/{idSite}/modifSecteur/{idSecteur}(idSite=${site.getId()}, idSecteur=${secteur.getId()})}">Retour au secteur</a>
<br><br>
<a th:href="@{/modifSite/{idSite}(idSite=${site.getId()})}">Retour au site</a>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
<footer>
    <a th:href="@{/}">Accueil</a>
</footer>
</html>