<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <title>Les amis de l'escalade</title>
</head>
<header class="page-header">
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <a class="btn btn-outline-secondary" href="/">Accueil</a>
                <div sec:authorize="!isAuthenticated()">
                    <a class="btn btn-outline-secondary" href="/login">S'authentifier</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a class="btn btn-outline-secondary" href="/logout">Log out</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a class="btn btn-outline-secondary" href="/modifSite">Ajouter un site</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <div class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true"
                           class="nav-link dropdown-toggle btn btn-outline-secondary btn-sm" data-toggle="dropdown" href="#" id="navbarDropdown"
                           role="button">
                            Topos
                        </a>
                        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <a class="dropdown-item" href="/topo">Topos</a>
                            <a class="dropdown-item" th:href="@{/mesTopos/{username}(username=${#authentication.principal.getId()})}">Mes topos</a>
                        </div>
                    </div>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a class="btn btn-outline-secondary" href="/compte" th:text="${#authentication.getName()}"></a>
                </div>
            </form>
        </nav>
    </div>
    <div class="container">
        <h1>Bienvenue aux amis de l'escalade</h1>
        <br><br>
    </div>
</header>
<div class="container">
    <form id="formRecherche" method="post" th:action="@{/}">
        <div>
            <span>Nom du site recherché:</span> <input class="col-5" name="siteRecherche" th:value="${site.getNom()}"
                                                       type="text">
        </div>
        <br><br>
        <div class="form-group col-7">
            <select class="form-control" id="dropContinent" name="continentRecherche" th:object="${continents}">
                <option th:text="${continentSelectionne.getNom()}" th:value="${continentSelectionne.getId()}"></option>
                <option th:each="continent : ${continents}" th:text="${continent.getNom()}"
                        th:value="${continent.getId()}"></option>
            </select>
        </div>
        <span th:if="!${continentSelectionne.getId().equals(0)}">
    <div class="form-group col-7">
        <select class="form-control" id="dropPays" name="paysRecherche" th:object="${paysList}">
            <option th:text="${paysSelectionne.getNom()}" th:value="${paysSelectionne.getId()}"></option>
            <option th:each="pays : ${paysList}" th:text="${pays.getNom()}" th:value="${pays.getId()}"></option>
        </select>
    </div>
    </span>
        <span th:if="${regions}">
    <div class="form-group col-7">
        <select class="form-control" id="dropRegion" name="regionRecherche" th:object="${regions}">
            <option th:text="${regionSelectionnee}" th:value="${regionSelectionnee}"></option>
            <option th:each="region : ${regions}" th:text="${region}" th:value="${region}"></option>
        </select>
    </div>
    </span>

        <br>

        <div>
            <span>Cotation : entre </span> <input name="cotationMin" th:value="${cotationMin}" type="text">
            <span>et</span> <input name="cotationMax" th:value="${cotationMax}" type="text">
        </div>

        <br>
        <div>
            <button class="btn btn-outline-secondary" name="rechercher" type="submit" value="RECHERCHER!">RECHERCHER !
            </button>
        </div>
    </form>
</div>

<div class="container">
    <div th:if="${resultats}">
        <br><br>
        <table class="col-8 table-striped">
            <thead>
            <tr>
                <th> Nom</th>
                <th> Continent</th>
                <th> Pays</th>
                <th> Région</th>
                <th> Cotation min</th>
                <th> Cotation max</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="site : ${resultats}">
                <td><span><a th:href="@{/site(id=${site.getId()})}" th:text="${site.getNom()}"></a> </span></td>
                <td><span th:text="${site.getLocalisation().getContinent().getNom()}"> </span></td>
                <td><span th:text="${site.getLocalisation().getPays().getNom()}"> </span></td>
                <td><span th:text="${site.getLocalisation().getRegion()}"> </span></td>
                <td><span th:text="${site.getCotationsMin()}"> </span></td>
                <td><span th:text="${site.getCotationsMax()}"> </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <div th:if="!${resultats}">
        Aucun site trouvé

    </div>
</div>
<br>
<div class="container">
    <img alt="Mountain View" class="col-12" src="Homepage.jpg" style="width:600px">
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>