<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Site</title>
</head>
<body>

<h1><span th:if="${site}" th:text="${site.getNom()}"/></h1>

<br>
<br>
<img alt="Mountain View" style="width:600px" th:src="@{Site_+${site.getId()}+.jpg}">
<br>
<br>
<br>

<table>
    <thead>
    <tr>
        <th th:text="Localisation">Localisation</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text=Continent>Continent</td>
        <td th:text="${site.getLocalisation().getContinent().getNom()}">Continent</td>
    </tr>
    <tr>
        <td th:text=Pays>Pays</td>
        <td th:text="${site.getLocalisation().getPays().getNom()}">Pays</td>
    </tr>
    <tr>
        <td th:text=Région>Region</td>
        <td th:text="${site.getLocalisation().getRegion()}">Region</td>
    </tr>
    <tr>
        <td th:text=Département>Departement</td>
        <td th:text="${site.getLocalisation().getDepartement()}">Departement</td>
    </tr>
    <tr>
        <td th:text=Ville>Ville</td>
        <td th:text="${site.getLocalisation().getVille()}">Ville</td>
    </tr>
    <tr>
        <td th:text=Adresse>Adresse</td>
        <td th:text="${site.getLocalisation().getAdresse()}">Adresse</td>
    </tr>
    </tbody>
</table>

<br><br><br><br>
<div>
    <a th:href="@{/}">Accueil</a>
</div>

</body>
</html>