<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Site</title>
</head>
<body>

<h1><span th:if="${site}" th:text="${site.getNom()}"/></h1>

<br>
<br>
<img alt="Mountain View" style="width:600px" th:src="@{Site_+${site.getId()}+.jpg}">
<br>
<br>
<br>

<table>
    <thead>
    <tr>
        <th th:text="Localisation">Localisation</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text=Continent>Continent</td>
        <td th:text="${site.getLocalisation().getContinent().getNom()}">Continent</td>
    </tr>
    <tr>
        <td th:text=Pays>Pays</td>
        <td th:text="${site.getLocalisation().getPays().getNom()}">Pays</td>
    </tr>
    <tr>
        <td th:text=Région>Region</td>
        <td th:text="${site.getLocalisation().getRegion()}">Region</td>
    </tr>
    <tr>
        <td th:text=Département>Departement</td>
        <td th:text="${site.getLocalisation().getDepartement()}">Departement</td>
    </tr>
    <tr>
        <td th:text=Ville>Ville</td>
        <td th:text="${site.getLocalisation().getVille()}">Ville</td>
    </tr>
    <tr>
        <td th:text=Adresse>Adresse</td>
        <td th:text="${site.getLocalisation().getAdresse()}">Adresse</td>
    </tr>
    </tbody>
</table>

<br>
<br>

<form id="formAjoutCommentaire" method="post" th:action="@{site(id=${site.getId()})}">
    <div>
        <span>Ajouter un commentaire:</span> <input name="commentaireSite" type="text" th:size="100" th:value="${commentaire.getCommentaire()}">
        <button type="submit" name="ajouter" value="Ajouter!">Ajouter</button>
    </div>
</form>

<div th:if="!${commentaires.isEmpty()}">
    <br>
<!--    <span th:each="commentaire : ${commentaires}" th:text="${commentaire.getCommentaire()}"></span>  -->
    <table th:border="black" th:axis="1">
        <tr>
            <td th:text="COMMENTAIRES" th:align="left">Commentaires</td>
        </tr>
        <tr th:each="commentaire: ${commentaires}">
            <td th:text="${commentaire.getCommentaire()}">Commentaire</td>
        </tr>
    </table>

</div>
<div th:if="!${secteurs.isEmpty()}">
<br>
<br>
<br>

<table>
    <thead>
    <tr>
        <th th:text="Description">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="secteur: ${secteurs}">
        <td th:text="${secteur.getNom()}">Nom</td>
        <div th:if="!${secteur.getVoies().isEmpty()}">
            <table th:border="black" th:axis="1">
                <tr>
                    <td th:text="voie" th:align="center">Nom</td>
                    <td th:text="cotation" th:align="center">Cotation</td>
                    <td th:text="equipée" th:align="center">Equipee</td>
                </tr>
                <tr th:each="voie: ${secteur.getVoies()}">
                    <td th:text="${voie.getNom()}">Nom</td>
                    <td th:text="${voie.getCotation()}">Cotation</td>
                    <td th:text="${voie.isEquipee()}">Equipee</td>
                    <div th:if="!${voie.getLongueurs().isEmpty()}">
                        <table th:border="black" th:axis="1">
                            <tr>
                                <td th:text="longueur" th:align="center">Nom</td>
                                <td th:text="cotation" th:align="center">Cotation</td>
                            </tr>
                            <tr th:each="longueur: ${voie.getLongueurs()}">
                                <td th:text="${longueur.getNom()}">Nom</td>
                                <td th:text="${longueur.getCotation()}">Cotation</td>
                            </tr>
                        </table>
                    </div>
                </tr>
            </table>
        </div>
    </tr>
    </tbody>
</table>
</div>

<br><br><br>

<div th:if="!${secteurs.isEmpty()}">

<div class="container-fluid p-0" >
    <div class="card">
        <div class="card-header"><h5>Informations détaillées des secteurs</h5></div>
        <div class="card-body p-0">
            <div id="accordion">
                <div th:each ="secteur : ${secteurs}" class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" th:attr="href='#collapseSecteurId_'+${secteur.getId()}">
                            <span th:utext="${secteur.getNom()}">...</span>
                        </a>
                    </div>
                    <div th:attr="id='collapseSecteurId_'+${secteur.getId()}" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-borderless text-center">
                                    <thead>
                                    <th class="text-left">nom de la voie</th>
                                    <th>cotation</th>
                                    <th>Equipee</th>
                                    </thead>
                                    <tbody>
                                    <tr th:each="voie : ${secteur.getVoies()}">
                                        <td class="text-left" th:utext="${voie.getNom()}"></td>
                                        <td th:utext="${voie.getCotation()}"></td>
                                        <td th:utext="${voie.isEquipee()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
<footer>
    <a th:href="@{/}">Accueil</a>
</footer>
</html>