<!DOCTYPE html >
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <title>Site</title>
</head>
<body>
<header class="page-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <div sec:authorize="!isAuthenticated()">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/login}">S'authentifier<span class="sr-only">(current)</span></a>
                    </li>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/logout}">Log out <span class="sr-only">(current)</span></a>
                    </li>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/modifSite}">Ajouter un site<span class="sr-only">(current)</span></a>
                    </li>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                           href="#" id="navbarDropdown" role="button">
                            Topos
                        </a>
                        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/topo}">Topos</a>
                            <a class="dropdown-item"
                               th:href="@{/mesTopos/{username}(username=${#authentication.principal.getId()})}">Mes
                                topos</a>
                        </div>
                    </li>
                </div>
            </ul>
            <div sec:authorize="isAuthenticated()">
                    <span class="navbar-text">
                        <a class="nav-link" th:href="@{/compte}" th:text="${#authentication.getName()}"><span class="sr-only">(current)</span></a>
                    </span>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6"><h1><span th:if="${site}" th:text="${site.getNom()}"/></h1></div>
            <div class="col-4 align-self-center" th:if="${site}">
                <div th:if="${site.isTag()}">
                    <img alt="Tag" th:src="@{AmisEscalade.PNG}">
                </div>
                <div th:if="${!site.isTag()}">
                    <form class="button" id="tagSite" th:action="@{/site/{idSite}/tag(idSite=${site.getId()})}">
                        <div sec:authorize="hasAnyAuthority('Membre', 'Administrateur')">
                            <input class="btn btn-outline-secondary" type="submit" value="Taguer ce site"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-2 align-self-center" th:if="${site}">
                <form class="button" id="modifSite" th:action="@{/modifSite/{idSite}(idSite=${site.getId()})}">
                    <div sec:authorize="hasAnyAuthority('Membre', 'Administrateur')">
                        <input class="btn btn-outline-secondary" type="submit" value="Modifier ce site"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div th:if="${site.getId() < 15}">
        <img alt="Mountain View" class="col-12" style="width:600px" th:src="@{Site_+${site.getId()}+.jpg}">
    </div>
    <div th:if="!${site.getId() < 15}">
        <img alt="Mountain View" class="col-12" style="width:300px" th:src="@{ESCALADE.jpg}">
    </div>

    <div>
        <span><h3>Localisation : </h3></span>
        <dl class="row">
            <dt class="col-2">Continent</dt>
            <dd class="col-10" th:text="${site.getLocalisation().getContinent().getNom()}">Continent</dd>
            <dt class="col-2">Pays</dt>
            <dd class="col-10" th:text="${site.getLocalisation().getPays().getNom()}">Pays</dd>
            <dt class="col-2">Région</dt>
            <dd class="col-10" th:text="${site.getLocalisation().getRegion()}">Région</dd>
            <dt class="col-2">Département</dt>
            <dd class="col-10" th:text="${site.getLocalisation().getDepartement()}">Département</dd>
            <dt class="col-2">Ville</dt>
            <dd class="col-10" th:text="${site.getLocalisation().getVille()}">Ville</dd>
            <dt class="col-2">Adresse</dt>
            <dd class="col-10" th:text="${site.getLocalisation().getAdresse()}">Adresse</dd>
        </dl>
    </div>
</div>

<br><br>

<div th:if="!${secteurs.isEmpty()}">

    <div class="container p-0">
        <div class="card">
            <div class="card-header"><h5>Informations détaillées des secteurs</h5></div>
            <div class="card-body p-0">
                <div id="accordionSecteur">
                    <div class="card" th:each="secteur : ${secteurs}">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse"
                               th:attr="href='#collapseSecteurId_'+${secteur.getId()}">
                                <span th:utext="${secteur.getNom()}">...</span>
                            </a>
                        </div>
                        <div class="collapse" data-parent="#accordionSecteur"
                             th:attr="id='collapseSecteurId_'+${secteur.getId()}">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-borderless text-center">
                                        <thead>
                                        <th class="text-left">nom de la voie</th>
                                        <th>cotation</th>
                                        <th>Equipee</th>
                                        <th></th>
                                        </thead>
                                        <tbody>
                                        <tr th:each="voie : ${secteur.getVoies()}">
                                            <td class="text-left" th:utext="${voie.getNom()}"></td>
                                            <td th:utext="${voie.getCotation()}"></td>
                                            <td th:utext="${voie.isEquipee()}"></td>
                                            <div th:if="!${voie.getLongueurs().isEmpty()}">
                                                <td><span class="btn btn-outline-secondary btn-sm"
                                                          data-toggle="modal"
                                                          th:href="'#longueursModal' + ${voie.getId()}" th:text="Longueurs"> </span></td>
                                                <div class="modal fade" role="document"
                                                     th:id="'longueursModal' + ${voie.getId()}">
                                                    <div class="modal-dialog">
                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button class="close" data-dismiss="modal"
                                                                        type="button">&times;
                                                                </button>
                                                                <h4 class="modal-title" th:text="${voie.getNom()}">
                                                                    nom</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row">
                                                                    <div class="col-6 font-weight-bold"
                                                                         th:utext="'Nom de la longueur'"></div>
                                                                    <div class="col-4 font-weight-bold"
                                                                         th:utext="cotation"></div>
                                                                </div>
                                                                <div th:each="longueur : ${voie.getLongueurs()}">
                                                                    <div class="row">
                                                                        <div class="col-6"
                                                                             th:utext="${longueur.getNom()}"></div>
                                                                        <div class="col-4"
                                                                             th:utext="${longueur.getCotation()}"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn btn-default" data-dismiss="modal"
                                                                        type="button">Fermer
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div th:if="!${commentaires.isEmpty()}">
    <div class="container">
        <div>
            <span><h3>Commentaires : </h3></span>
            <dl class="row " th:each="commentaire: ${commentaires}">
                <dt class="col-2" th:text="${commentaire.getUtilisateur().getNom()}">Utilisateur</dt>
                <dd class="col-10" th:text="${commentaire.getCommentaire()}">Commentaire</dd>
            </dl>
        </div>
    </div>
    <br>
</div>
<div sec:authorize="isAuthenticated()">
    <div class="container">
        <form id="formAjoutCommentaire" method="post" th:action="@{/site(id=${site.getId()})}">
            <div class="row align-items-center">
                <div class="col-3"><strong>Ajouter un commentaire:</strong></div>
                <div class="col-7"><textarea class="col-12" name="commentaireSite"
                                             th:value="${commentaire.getCommentaire()}"></textarea></div>
                <div class="clearfix visible">
                    <div class="col-2">
                        <button class="btn btn-outline-secondary" name="ajouter" type="submit" value="Ajouter!">
                            Ajouter
                        </button>
                    </div>
                </div>
            </div>
            <div><input class="text-hide" name="utilisateurCommentaire"
                        th:value="${#authentication.principal.getEmail()}"></div>
        </form>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</div>
</body>
</html>