<!DOCTYPE html >
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Site</title>
</head>
<body>
<header class="page-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <div sec:authorize="!isAuthenticated()">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/login}">S'authentifier<span class="sr-only">(current)</span></a>
                    </li>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/logout}">Log out <span class="sr-only">(current)</span></a>
                    </li>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/modifSite}">Ajouter un site<span class="sr-only">(current)</span></a>
                    </li>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#" id="navbarDropdown" role="button">
                            Topos
                        </a>
                        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/topo}">Topos</a>
                            <a class="dropdown-item"
                               th:href="@{/mesTopos/{username}(username=${#authentication.principal.getId()})}">Mes
                                topos</a>
                        </div>
                    </li>
                </div>
            </ul>
            <div sec:authorize="isAuthenticated()">
                    <span class="navbar-text">
                        <a class="nav-link" th:href="@{/compte}" th:text="${#authentication.getName()}"><span class="sr-only">(current)</span></a>
                    </span>
            </div>
        </nav>
    </div>
    <div class="container">
        <div th:if="${mode} == 'ALL'">
            <h1>Topos</h1>
        </div>
        <div th:if="${mode} == 'USER'">
            <h1>Mes Topos</h1>
        </div>
    </div>
</header>

<div class="container">
    <div th:if="${topos.isEmpty()}">
        <div th:if="${mode} == 'USER'">
            <h2><span><br>Vous n'avez aucun topo<br></span></h2>
        </div>
        <div th:if="${mode} == 'ALL'">
            <h2><span><br>Aucun topo à afficher<br></span></h2>
        </div>
    </div>
    <div th:if="!${topos.isEmpty()}">
        <div th:if="${mode} == 'USER'">
            <h2><span><br>Mes topos<br></span></h2>
        </div>
        <div th:if="${mode} == 'ALL'">
            <h2><span><br>Liste des topos<br></span></h2>
        </div>
        <div class="row">
        <div class="table-responsive">
        <table class="table-striped">
            <thead>
            <tr>
                <th> Nom</th>
                <th> Continent</th>
                <th> Pays</th>
                <th> Lieu</th>
                <th> Description</th>
                <th> Date de parution</th>
                <th> Etat</th>
                <div th:if="${mode} == 'ALL'">
                    <th>Proprietaire</th>
                </div>
                <div th:if="${mode} == 'USER'">
                    <th>Emprunteur</th>
                </div>
            </tr>
            </thead>
            <tbody>
            <tr th:each="topo : ${topos}">
                <td><span th:text="${topo.getNom()}">Nom</span></td>
                <td><span th:text="${topo.getContinent().getNom()}">Continent</span></td>
                <td><span th:text="${topo.getPays().getNom()}">Pays</span></td>
                <td><span th:text="${topo.getLieu()}"> </span></td>
                <td><span th:text="${topo.getDescription()}"> </span></td>
                <td><span th:text="${topo.getParution()}"> </span></td>
                <td><span th:text="${topo.getEtat().getEtat()}"> </span></td>
                <div th:if="${mode} == 'ALL'">
                    <td><span th:text="${topo.getProprietaire().getNom()}"> </span></td>
                    <div th:if="${topo.getEtat().getEtat()} == 'Disponible'">
                        <form id="reserverTopo" method="post"
                              th:action="@{/topo/reservation/{idTopo}(idTopo=${topo.getId()})}">
                            <input class="text-hide" name="emprunteur"
                                   th:value="${#authentication.principal.getEmail()}">
                            <td>
                                <input class="btn btn-outline-success" type="submit" value="Réserver"/>
                            </td>
                        </form>
                    </div>
                </div>
                <div th:if="${mode} == 'USER'">
                    <div th:if="${topo.getEtat().getEtat()} == 'Reserve'">
                        <td><span class="btn btn-outline-secondary btn-sm" data-target="#myModalEmprunteur" data-toggle="modal" th:text="${topo.getEmprunteur().getNom()}"> </span></td>
                        <!-- Modal -->
                        <div class="modal fade" id="myModalEmprunteur" role="document">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                                        <h4 class="modal-title">Emprunteur</h4>
                                    </div>
                                    <div class="modal-body">
                                        <dl class="row">
                                            <dt class="col-2">Nom</dt>
                                            <dd class="col-10" th:text="${topo.getEmprunteur().getNom()}">Nom</dd>
                                            <dt class="col-2">Prénom</dt>
                                            <dd class="col-10" th:text="${topo.getEmprunteur().getPrenom()}">Prenom</dd>
                                            <dt class="col-2">Email</dt>
                                            <dd class="col-10" th:text="${topo.getEmprunteur().getEmail()}">Email</dd>
                                            <dt class="col-2">Profil</dt>
                                            <dd class="col-10" th:text="${topo.getEmprunteur().getRole().getRole()}">Role</dd>
                                        </dl>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-default" data-dismiss="modal" type="button">Fermer
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form id="preterTopo" method="post" th:action="@{/topo/pret/{idTopo}(idTopo=${topo.getId()})}">
                            <td>
                                <input class="btn btn-outline-success" type="submit" value="Prêter"/>
                            </td>
                        </form>
                    </div>
                    <div th:if="${topo.getEtat().getEtat()} == 'Indisponible'">
                        <td><span class="btn btn-outline-secondary btn-sm" data-target="#myModalEmprunteur" data-toggle="modal" th:text="${topo.getEmprunteur().getNom()}"> </span></td>
                        <!-- Modal -->
                        <div class="modal fade" id="myModalEmprunteur" role="document">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                                        <h4 class="modal-title">Emprunteur</h4>
                                    </div>
                                    <div class="modal-body">
                                        <dl class="row">
                                            <dt class="col-2">Nom</dt>
                                            <dd class="col-10" th:text="${topo.getEmprunteur().getNom()}">Nom</dd>
                                            <dt class="col-2">Prénom</dt>
                                            <dd class="col-10" th:text="${topo.getEmprunteur().getPrenom()}">Prenom</dd>
                                            <dt class="col-2">Email</dt>
                                            <dd class="col-10" th:text="${topo.getEmprunteur().getEmail()}">Email</dd>
                                            <dt class="col-2">Profil</dt>
                                            <dd class="col-10" th:text="${topo.getEmprunteur().getRole().getRole()}">Role</dd>
                                        </dl>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-default" data-dismiss="modal" type="button">Fermer
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
        </div>
        </div>
    </div>

    <div th:if="${mode} == 'USER'">
        <div th:if="!${reservations.isEmpty()}">
            <h2><span><br>Mes emprunts et réservations<br></span></h2>
            <div class="row">
                <div class="table-responsive">
            <table class="table-striped">
                <thead>
                <tr>
                    <th> Nom</th>
                    <th> Continent</th>
                    <th> Pays</th>
                    <th> Lieu</th>
                    <th> Description</th>
                    <th> Date de parution</th>
                    <th> Etat</th>
                    <th>Proprietaire</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="topo : ${reservations}">
                    <td><span th:text="${topo.getNom()}">Nom</span></td>
                    <td><span th:text="${topo.getContinent().getNom()}">Continent</span></td>
                    <td><span th:text="${topo.getPays().getNom()}">Pays</span></td>
                    <td><span th:text="${topo.getLieu()}"> </span></td>
                    <td><span th:text="${topo.getDescription()}"> </span></td>
                    <td><span th:text="${topo.getParution()}"> </span></td>
                    <td><span th:text="${topo.getEtat().getEtat()}"> </span></td>
                    <td><span class="btn btn-outline-secondary btn-sm" data-target="#myModalProprietaire"
                              data-toggle="modal" th:text="${topo.getProprietaire().getNom()}"> </span></td>
                    <!-- Modal -->
                    <div class="modal fade" id="myModalProprietaire" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                                    <h4 class="modal-title">Propriétaire</h4>
                                </div>
                                <div class="modal-body">
                                    <dl class="row">
                                        <dt class="col-2">Nom</dt>
                                        <dd class="col-10" th:text="${topo.getProprietaire().getNom()}">Nom</dd>
                                        <dt class="col-2">Prénom</dt>
                                        <dd class="col-10" th:text="${topo.getProprietaire().getPrenom()}">Prenom</dd>
                                        <dt class="col-2">Email</dt>
                                        <dd class="col-10" th:text="${topo.getProprietaire().getEmail()}">Email</dd>
                                        <dt class="col-2">Profil</dt>
                                        <dd class="col-10" th:text="${topo.getProprietaire().getRole().getRole()}">Role</dd>
                                    </dl>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default" data-dismiss="modal" type="button">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${topo.getEtat().getEtat()} == 'Indisponible'">
                        <form id="rendreTopo" method="post"
                              th:action="@{/topo/rendre/{idTopo}(idTopo=${topo.getId()})}">
                            <input class="text-hide" name="emprunteur" th:value="${#authentication.principal.getId()}">
                            <td>
                                <input class="btn btn-outline-success" type="submit" value="Rendre"/>
                            </td>
                        </form>
                    </div>
                </tr>
                </tbody>
            </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div th:if="${mode} == 'USER'">
        <form class="form-group" id="AjoutTopo" method="post"
              th:action="@{/mesTopos/{userId}/newTopo(userId=${#authentication.getPrincipal().getId()})}">
            <div>
                <br><h2>Ajouter un topo :</h2><br>
                <div class="container">
                    <dl>
                        <dt>Nom du topo</dt>
                        <dd><input class="col-6" name="nomNewTopo" type="text"></dd>
                        <dt>Continent</dt>
                        <dd>
                            <select class="form-control col-8" id="dropContinent" name="continentSelection"
                                    th:object="${continents}">
                                <option th:text="${continentSelectionne.getNom()}"
                                        th:value="${continentSelectionne.getId()}"></option>
                                <option th:each="continent : ${continents}" th:text="${continent.getNom()}"
                                        th:value="${continent.getId()}"></option>
                            </select>
                        </dd>
                        <dt>Pays</dt>
                        <dd>
                            <select class="form-control col-8" id="dropPays" name="paysSelection"
                                    th:object="${paysList}">
                                <option th:text="${paysSelectionne.getNom()}"
                                        th:value="${paysSelectionne.getId()}"></option>
                                <option th:each="pays : ${paysList}" th:text="${pays.getNom()}"
                                        th:value="${pays.getId()}"></option>
                            </select>
                        </dd>

                        <dt>Lieu</dt>
                        <dd>
                            <input class="col-8" name="lieu" th:value="lieu"
                                   type="text">
                        </dd>
                        <dt>Description</dt>
                        <dd>
                            <input class="col-8" name="description" th:value="description"
                                   type="text">
                        </dd>
                        <dt>Date de parution</dt>
                        <dd>
                            <input class="col-8" name="dateParution" type="date">
                        </dd>
                    </dl>
                </div>

                <button class="btn btn-outline-secondary" name="AjouterTopo" type="submit" value="AjouterTopo">Ajouter
                    topo
                </button>
            </div>
        </form>
    </div>
</div>
<script th:inline="javascript">
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>